.inputA{
    margin-bottom: 10px;
}
.inputG{
    margin-top: 50px;
}

.slide{
    background-color: white;
    color: black;
    list-style-type: none;
}

.slide:hover{
    background-color: grey;
}

#inputStart{
    background-color: white;
    border-block-end-style: hidden;
}


.Button{
    /* width: 50%;
    height: 600px;
    position: fixed; */
    background-color: tan;
    background-position: center;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    padding: 15px;
}