.inputA{
    margin-bottom: 10px;
}
.inputG{
    margin-top: 150px;
}

.slide{
    background-color: white;
    color: black;
    list-style-type: none;
}

.slide:hover{
    background-color: grey;
}

#inputStart{
    background-color: white;
    border-block-end-style: hidden;
}

html{
    background-image: url("../src/img/map.jpg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center;
}